@charset "UTF-8";
/* CSS Document */

.main-content, .m-my{padding-bottom:0 !important;}

.product-page, .product-details{top:0 !important;}

.m-header, .footer-tab{display:none !important;}
.m-header h1{font-size:17px;color:#1a1a1a;font-weight:bold;}
.m-header a{font-size:17px;color:#1a1a1a;font-weight:normal;}
.m-header{position:fixed;left:0px;top:0px;width:100%;height:43px;z-index:1000;}

.mt44 .hot-search{margin-top:0 !important;}
.mt44 .left-menu{top:94px;}
.mt44 .right-menu{top:94px;}

.position_layer h4{position:relative; height:44px; border-bottom:1px solid #bfbfbf; font-size: 16px; text-align: center; line-height: 44px;display : none}
.position_layer .posi_scroll{position:absolute; left:0; top:0px; right:0; bottom:0; overflow: hidden;}

.mt44 .btns{margin-top:-44px !important;} /* 订单列表页 */


